In [1]:
import pandas as pd
import numpy as np

In [2]:
data  = pd.read_csv('CLEAR_DATASET.csv')
del data['Unnamed: 0']
del data['display hz']
del data['display size']
data.head()

,rating,price,inbuilt memory,battery,camera,smartphone
0,89.0,61048.89,256.0,5000.0,50.0,oneplus 11 5g
1,81.0,22187.79,128.0,5000.0,64.0,oneplus nord ce 2 lite 5g
2,75.0,18313.89,64.0,5000.0,50.0,samsung galaxy a14 5g
3,81.0,16648.89,128.0,5000.0,50.0,motorola moto g62 5g
4,82.0,27748.89,128.0,5000.0,108.0,realme 10 pro plus

In [3]:
smartphones = data.smartphone.unique()
s = set()
for elem in smartphones:
    elem = elem.split()
    elem = elem[0]
    s.add(elem)

In [4]:
s

{'apple',
 'asus',
 'blackview',
 'blu',
 'cola',
 'doogee',
 'gionee',
 'google',
 'honor',
 'huawei',
 'ikall',
 'infinix',
 'iqoo',
 'itel',
 'jio',
 'lava',
 'leeco',
 'lenovo',
 'letv',
 'lg',
 'lyf',
 'micromax',
 'motorola',
 'nokia',
 'nothing',
 'nubia',
 'oneplus',
 'oppo',
 'poco',
 'realme',
 'redmi',
 'royole',
 'samsung',
 'sharp',
 'sony',
 'tcl',
 'tecno',
 'tesla',
 'vivo',
 'xiaomi',
 'zte'}

In [5]:
exc = ('tesla','royole', 'micromax','lyf','letv','leeco','lava','jio','itel','iqoo','ikall','gionee','doogee','cola','blu', 'blackview', 'zte')

In [71]:
s = list(s)
for x in s:
    if x not in exc:
        sss = data[data['smartphone'].str.startswith(x) == True]
        print(len(sss))

3
88
132
2
41
132
11
97
29
1
11
14
111
5
13
42
6
52
9
33
1
7
35
3

In [6]:
data = data[data['smartphone'].str.startswith(exc) == False]

In [7]:
data = data.reset_index(drop=True)
data

,rating,price,inbuilt memory,battery,camera,smartphone
0,89.0,61048.89,256.0,5000.0,50.0,oneplus 11 5g
1,81.0,22187.79,128.0,5000.0,64.0,oneplus nord ce 2 lite 5g
2,75.0,18313.89,64.0,5000.0,50.0,samsung galaxy a14 5g
3,81.0,16648.89,128.0,5000.0,50.0,motorola moto g62 5g
4,82.0,27748.89,128.0,5000.0,108.0,realme 10 pro plus
...,...,...,...,...,...,...
873,83.0,38838.90,128.0,5000.0,64.0,motorola moto edge s30 pro
874,75.0,16638.90,128.0,5000.0,48.0,honor x8 5g
875,85.0,32178.90,256.0,5080.0,64.0,poco x4 gt 5g (8gb ram + 256gb)
876,80.0,22188.90,128.0,5000.0,108.0,motorola moto g91 5g
877,74.0,27738.90,128.0,5000.0,64.0,samsung galaxy m52s 5g

In [8]:
from sklearn.cluster import KMeans

In [9]:
mlprice = KMeans(n_clusters=5)

In [10]:
import seaborn as sns

In [11]:
mlkmeans = KMeans(n_clusters=40).fit(data[['price',  'battery']].to_numpy())
mlkmeans.predict(data[['price',  'battery']].to_numpy()[:5])

C:\Users\bigbl\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
C:\Users\bigbl\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1382: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=4.
  warnings.warn(

array([28,  5, 15, 24,  9])

In [12]:
mlkmeans.predict(data[['price',  'battery']].to_numpy())

array([28,  5, 15, 24,  9, 23, 17, 16, 33, 16,  5,  5,  9, 23, 25, 17, 31,
       22, 34, 24, 29,  0, 24, 23, 11, 16, 27, 26, 33,  3,  5,  5, 33, 29,
       27, 29, 16, 20, 34, 33, 27,  5,  5, 33, 23, 23,  2, 10, 36, 11,  5,
        5, 24, 24, 19,  2,  8, 31, 23, 16, 23, 15, 24,  0, 13, 34, 15, 18,
       31, 33, 22, 24, 12, 33,  9, 10, 15,  5, 24,  5, 24, 27, 27, 23, 24,
       11, 36, 27, 15, 19, 31, 36, 36,  1, 15, 12,  5, 27, 36,  5, 13, 11,
       39, 15,  0, 29, 27, 34, 38, 16,  9,  3,  0, 34, 16,  5,  5,  9,  2,
        9,  9,  0, 36, 31, 10, 33, 15, 27, 22, 24, 36, 29, 36, 24, 10, 23,
       31,  5,  2, 32, 16,  5, 38,  9, 16, 20, 24, 26, 13, 11,  2,  2, 23,
       23,  5,  5, 15, 16,  2,  2, 27, 34,  2,  0, 38, 29, 24, 24, 33,  5,
       38,  0, 22, 29,  2, 22,  5, 23, 10, 23, 24, 28,  3, 36,  2,  0,  0,
        2, 33, 32, 29, 15,  5, 33, 37, 31, 34, 31, 16,  9, 23,  9,  2, 10,
       10, 23,  9, 22, 17,  2,  2,  5, 24,  1, 31, 33,  5,  9, 24, 22,  9,
        7, 23, 27, 19,  9, 22, 31, 39, 23, 23,  5,  7, 17, 10,  5, 36, 15,
       38,  3,  0, 15, 34,  0,  5, 29, 15, 28, 31, 15, 27,  7, 17, 24, 10,
       20, 27,  3, 36,  5, 33,  5, 23,  5, 21, 36, 15, 24, 10,  9, 13,  9,
       22, 10, 10,  9, 38, 36,  2, 27,  3, 28, 24,  9, 11, 34, 12, 23, 16,
       36, 16, 23, 14,  8, 33, 10, 29, 23,  1, 10, 24,  5, 11, 27,  9,  2,
       38, 15, 17, 24, 10, 27,  2, 36,  5,  3, 30, 28, 27, 31, 10, 23, 29,
       38, 24, 15, 31, 16, 15, 13, 12, 20,  7, 10, 11, 23,  6, 34, 36,  0,
        5, 11,  9,  5, 16, 39, 27, 10, 10, 27, 27, 36, 24, 23, 24,  3,  2,
        5,  2, 23, 24,  0, 14, 38,  1, 24, 23, 30,  0, 27, 19, 27,  5, 38,
       23, 27,  9, 33, 31,  5, 26,  5, 11,  3, 29, 19,  0, 24,  0, 24, 24,
       23,  0, 10, 10, 15, 27,  5, 38, 15, 15,  3, 33, 38, 36, 31, 28, 15,
        9, 31, 10, 17, 15, 10,  2,  2, 11,  0,  2, 31, 10,  9, 23, 27, 38,
       27,  2, 29,  2, 38, 31, 38, 25, 27,  3, 36, 20, 15, 27, 36, 13, 10,
       15,  9, 24, 23,  9,  2, 10,  2, 20, 33, 15, 38, 16, 15, 10, 24, 15,
       24, 15,  0,  3, 33, 31, 11,  9, 15,  9, 10, 27, 39, 26,  5, 24, 27,
       24,  0, 30, 31, 36, 31, 24,  7, 23,  5, 13, 22,  5, 23, 23, 23, 39,
       24,  5, 15, 11,  9, 10, 16, 33, 16, 10, 24,  2, 29, 33,  9, 13, 25,
       28, 15,  9,  9, 31, 36,  5, 34, 33, 15, 13, 23, 36, 15,  2, 24, 31,
       34,  9, 10, 31, 31, 36, 24, 23,  9, 27,  5, 18, 25,  7,  5,  2, 24,
       16, 33,  5, 27, 23, 15, 24, 36, 24, 38,  2, 27,  3, 13,  8,  2, 24,
        9, 10, 18, 23, 27, 18, 29, 29, 36, 29, 15,  3, 33, 15, 23, 10, 29,
        0, 23, 27,  5, 31, 36, 23, 24, 20, 10, 38, 10, 24, 24, 23,  9, 15,
        5, 27, 28,  5, 30, 29, 20, 24, 24, 10, 36,  5, 27, 23, 23, 31, 10,
       37, 39,  2, 16, 20, 32, 24, 15,  2, 23,  6,  9,  2,  5,  5, 15, 13,
       36, 16, 34, 16,  1, 34, 39, 18, 31, 35, 37, 15, 10, 23, 37, 36, 16,
       38, 13, 33, 38, 24, 22, 27,  7,  2, 33, 16, 33, 19, 31,  5, 36,  2,
       36, 38, 28, 39, 28, 15,  4, 28,  5, 23,  0, 37, 22, 10, 23,  2,  8,
       15,  9, 30, 38, 36, 38, 21,  2, 33, 36, 19, 10,  2,  2, 25, 23,  2,
        2,  2, 13, 36, 37, 24, 37, 31,  9, 24,  5,  0, 16,  2, 36, 16, 36,
       33,  1,  4, 23, 24, 10,  5, 24, 10, 29,  2, 36, 28,  9, 13,  5, 23,
       24, 16, 24, 23,  2,  5, 15, 36, 20, 31, 34, 11, 23,  2, 16, 13, 27,
       31, 31, 36, 38, 16, 36, 33, 10, 27,  5,  2,  2,  2,  2, 15, 23, 30,
       31, 31, 34, 24, 11, 24, 31, 16, 39,  5, 16,  2, 16, 15, 27,  2, 27,
       10, 34, 16, 10,  2, 24, 24, 22, 23,  5, 18, 29,  5,  2, 23, 31, 24,
       31,  9,  8, 23, 10, 15,  8, 27,  5, 34, 10, 10, 31, 10, 24, 16, 10,
       35,  9, 13, 39, 29, 27, 36, 24, 11, 27, 12, 16, 38, 36, 33, 27, 14,
       22, 31, 27, 34, 34, 24, 36, 38, 23, 16, 34, 31,  5, 23,  2,  5, 24,
       31, 38, 28, 31,  9, 13, 31, 38,  4, 29, 27, 36, 10, 24, 24, 11, 28,
       39, 34, 10,  3,  3, 12,  0, 24, 16,  5,  9])

In [59]:
def find_smartphone(features, tmp_data):
    import statistics
    
    keys = []
    mask = []

    for key in features.keys():
        if features[key] is not None:
            mask.append(features[key])
            keys.append(key)
    
    tmp_data = data        
    if 'Brand' in features:
        brands = features['Brand']
        brands = tuple(map(str.lower, brands))
        tmp_data[tmp_data.smartphone.str.startswith(brands)]

    tmp_data = tmp_data[keys]
    ml = KMeans(n_clusters=40).fit(tmp_data.to_numpy())
    tmp_data['ml'] = ml.predict(tmp_data.to_numpy())
    s = []
    for i in keys:
        s.append(statistics.mean(features[i]))
    to_return = ml.predict([s])
    tmp_data = tmp_data[tmp_data['ml'] == to_return.tolist()[0]]

        
    return to_return, data.iloc[tmp_data.index]

In [60]:
qq = find_smartphone({'price': [122000], 'battery': [5000, 6000], 'inbuilt memory': [1231231], 'Brand': ['Apple']}, data)
qq[1]

KeyError: "['Brand'] not in index"

In [54]:
data[data.smartphone.str.startswith(('apple'))]

Empty DataFrame
Columns: [rating, price, inbuilt memory, battery, camera, smartphone]
Index: []