In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [2]:
data = pd.read_csv('smartphones_ready_for_ml_2.csv')

In [3]:
smartphones = data['model']
del data['model']

In [49]:
data.columns

Index(['price', 'rating', 'dual sim', '3g', '4g', '5g', 'volte', 'wi-fi',
       'nfc', 'ir blaster', 'vo5g', 'single sim', 'cores num', 'processor',
       'inbuilt memory', 'ram', 'battery', 'fast charging (w)',
       'display size (inch)', 'display heigth (px)', 'display width (px)',
       'display frequancy (hz)', 'rear num', 'rear camera (max mp)',
       'front num', 'front camera (max mp)', 'card_value (gb)', 'os'],
      dtype='object')

In [39]:
clear_data = ['rating', 'price', 'inbuilt memory', 'battery', 
              'display size (inch)', 'display frequancy (hz)', 'rear camera (max mp)']
clear_data = pd.DataFrame([data[x] for x in clear_data]).T
clear_data.head()

,rating,price,inbuilt memory,battery,display size (inch),display frequancy (hz),rear camera (max mp)
0,89.0,61048.89,256.0,5000.0,6.70,120.0,50.0
1,81.0,22187.79,128.0,5000.0,6.59,120.0,64.0
2,75.0,18313.89,64.0,5000.0,6.60,90.0,50.0
3,81.0,16648.89,128.0,5000.0,6.55,120.0,50.0
4,82.0,27748.89,128.0,5000.0,6.70,120.0,108.0

In [118]:
smartphones.head()

0                oneplus 11 5g
1    oneplus nord ce 2 lite 5g
2        samsung galaxy a14 5g
3         motorola moto g62 5g
4           realme 10 pro plus
Name: model, dtype: object

In [119]:
clear_data = clear_data.rename(columns={'display size (inch)': 'display size', 'display frequancy (hz)': 'display hz',
                    'rear camera (max mp)': 'camera'})
clear_data['smartphone'] = smartphones
clear_data.head()

,rating,price,inbuilt memory,battery,display size,display hz,camera,smartphone
0,89.0,61048.89,256.0,5000.0,6.70,120.0,50.0,oneplus 11 5g
1,81.0,22187.79,128.0,5000.0,6.59,120.0,64.0,oneplus nord ce 2 lite 5g
2,75.0,18313.89,64.0,5000.0,6.60,90.0,50.0,samsung galaxy a14 5g
3,81.0,16648.89,128.0,5000.0,6.55,120.0,50.0,motorola moto g62 5g
4,82.0,27748.89,128.0,5000.0,6.70,120.0,108.0,realme 10 pro plus

In [120]:
clear_data.to_csv('clear_phone.csv')

In [33]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.cluster import KMeans

In [36]:
data_list = np.array(clear_data.values.tolist())
data_list[:3]

array([[8.900000e+01, 6.104889e+04, 2.560000e+02, 5.000000e+03,
        6.700000e+00, 1.200000e+02, 5.000000e+01],
       [8.100000e+01, 2.218779e+04, 1.280000e+02, 5.000000e+03,
        6.590000e+00, 1.200000e+02, 6.400000e+01],
       [7.500000e+01, 1.831389e+04, 6.400000e+01, 5.000000e+03,
        6.600000e+00, 9.000000e+01, 5.000000e+01]])

In [50]:
encoder = LabelEncoder().fit(smartphones)
smartphones_enc = encoder.transform(smartphones)
smartphones_enc[:5]

array([276, 296, 563, 229, 446])

In [ ]:
model = LinearRegression().fit(clear_data, smartphones_enc)
model.coef_

In [ ]:
predict = model.predict(clear_data)

In [ ]:
from sklearn.metrics import accuracy_score

In [135]:
abs((predict.reshape(1, -1)[0]- smartphones_enc.reshape(1, -1)[0])).mean()

NameError: name 'predict' is not defined

In [42]:
clear_data

,rating,price,inbuilt memory,battery,display size (inch),display frequancy (hz),rear camera (max mp)
0,89.0,61048.89,256.0,5000.0,6.70,120.0,50.0
1,81.0,22187.79,128.0,5000.0,6.59,120.0,64.0
2,75.0,18313.89,64.0,5000.0,6.60,90.0,50.0
3,81.0,16648.89,128.0,5000.0,6.55,120.0,50.0
4,82.0,27748.89,128.0,5000.0,6.70,120.0,108.0
...,...,...,...,...,...,...,...
963,83.0,38838.90,128.0,5000.0,6.67,120.0,64.0
964,75.0,16638.90,128.0,5000.0,6.50,60.0,48.0
965,85.0,32178.90,256.0,5080.0,6.60,144.0,64.0
966,80.0,22188.90,128.0,5000.0,6.80,60.0,108.0
967,74.0,27738.90,128.0,5000.0,6.50,60.0,64.0

In [46]:
del data['Unnamed: 0']

In [121]:
sort_d = clear_data.sort_values(by='price', ascending=False).head(10)

In [122]:
sort_d.price

425    721500.00
876    532800.00
474    266398.89
939    238638.90
454    221988.90
288    203128.89
750    199689.00
783    192028.89
733    188589.00
942    187590.00
Name: price, dtype: float64

**Удаляем первые 5 первые смартфонов**

In [128]:
for x in sort_d.index:
    print(x,'    ', round(sort_d.price[x], 1),'    ',  smartphones[x], )

425      721500.0      vertu signature touch
876      532800.0      xiaomi redmi k20 pro signature edition
474      266398.9      huawei mate 50 rs porsche design
939      238638.9      huawei mate 30 rs porsche design
454      221988.9      xiaomi mi mix alpha
288      203128.9      apple iphone 14 pro max (1tb)
750      199689.0      apple iphone 13 pro max (1tb)
783      192028.9      apple iphone 14 pro (1tb)
733      188589.0      apple iphone 14 pro max (512gb)
942      187590.0      huawei mate x

In [129]:
data = data[data['price'] < 221000]

In [136]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 963 entries, 0 to 967
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   price                  963 non-null    float64
 1   rating                 963 non-null    float64
 2   dual sim               963 non-null    int64
 3   3g                     963 non-null    int64
 4   4g                     963 non-null    int64
 5   5g                     963 non-null    int64
 6   volte                  963 non-null    int64
 7   wi-fi                  963 non-null    int64
 8   nfc                    963 non-null    int64
 9   ir blaster             963 non-null    int64
 10  vo5g                   963 non-null    int64
 11  single sim             963 non-null    int64
 12  cores num              963 non-null    int64
 13  processor              963 non-null    float64
 14  inbuilt memory         963 non-null    int64
 15  ram                    963 non-null    int64
 16  battery                963 non-null    int64
 17  fast charging (w)      963 non-null    float64
 18  display size           963 non-null    float64
 19  display heigth (px)    963 non-null    int64
 20  display width (px)     963 non-null    int64
 21  display hz             963 non-null    int64
 22  rear num               963 non-null    int64
 23  camera                 963 non-null    float64
 24  front num              963 non-null    int64
 25  front camera (max mp)  963 non-null    float64
 26  card_value (gb)        963 non-null    int64
 27  os                     963 non-null    int64
dtypes: float64(7), int64(21)
memory usage: 218.2 KB